*{
    padding: 0;
    margin: 0;
    font-size: 14px;   
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    text-decoration: none;
}

body{
    background-image:url(img/fundo.png)
}

header{
    background-color: #171a21;align-items: center;
    text-align: center;
}

.menu-lateral{
    display: flex;
    margin-left: 65%;
    margin-top: 5px;
    list-style: none;
    
}
.container-lateral a{
    text-decoration: none;
    color: white;
    background-color: #5c7e10;
    border: 1px solid black;
    padding: 5px;
}

.container-lateral li{
    color: whitesmoke;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    align-items: center;
}

.container-lateral p{
    color: whitesmoke;
    list-style: none;
    text-align: center;
    align-items: center;
    padding-top: 4px;
}

.container-central img{
    width: 150px;
    margin-left: 150px;
}

.container-central{
    padding-left: 10px;
    display: flex;
    background-color: #171a21;
    align-items: center;    
}

.container-central a{
    padding: 12px;
    list-style: none;
    text-decoration: none;
    color: whitesmoke;
    margin-top: 6px;
}

section{
    display: flex;
    text-align: center;
    align-items: center;
}

.container{
    display: flex;
    align-items: baseline;
    padding-bottom: 100px;
    justify-content: space-around;
}

.container-login{
    margin-top: 50px;
}

.container-login h1{
    font-size: 34px;
    color: white;
    text-transform: uppercase;
 
}

.login-email{
    color: white;
    margin-top: 35px;
    font-size: 16px;
    text-align: start;
}

.login-senha{
    color: white;
    margin-top: 35px;
    font-size: 16px;
    text-align: start;
}

.box-digitar{
    width: 250px;
    height: 10px;
    border: 1px solid #32353C;
    padding: 10px 20px;
    background-color: #32353C;
}

.botao-iniciar{
    background:#47bfff;
    color: white;
    padding: 5px 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.esqueceu-senha{
    color: white;
}

aside{
    text-align: center;
}

aside p{
    color: #8F98A0;
    padding-bottom: 10px;
}

aside img{
    width: 320px;
}

.saiba-mais{
    color: white;
}

.cadastro{
    color: white;
    border: 1px solid white;
    padding: 5px;
}

#gratuito{
    padding-bottom: 15px;
}

footer{
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    background-color: #171a21;
    align-items: center;
    width: 100%;
}

.imagens-rodape {
    justify-content:space-between;
    display: flex;
    padding: 10px;
    border-top: 1px solid white;
    align-items: center;
    width: 70%;
}

.imagens-rodape #valve{
    width: 100px;
}

.empresa p{
    color: #8F98A0;
}

.empresa a{
    padding: 10px;
    color: #FFF;
}

@media (max-width: 992px){

    header{
        flex-direction: column-reverse;
        display: flex;
    }

    .menu-lateral{
        align-items: center;
        display: flex;
        margin: auto;
        padding: 10px;
        width: fit-content;
    }

    .menu-lateral li{
        padding: 0 15px;
    }
    
    .container-central{
        display: block;
    }

    .container-central img {
        width: 150px;
        margin: auto;
    }

    .container{
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }

    .container-login{
        margin: auto;
    }

    .container-central img{
        width: auto;
    }

    section{
        display: flex;
        text-align: center;
        align-items: center;
    }

    aside{
        margin: auto;
        align-items: center;
        padding-top: 50px;
        text-align: center;
    }

    aside img{
        max-width: 320px;
    }

    .imagens-rodape{
        width: 90%;
    }
    .empresa{
        text-align: center;
        padding: 10px 5px 0 5px;
    }
}