*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
html {
    width: 100%;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: white;
}

img {
    display: block;
    width: 100%;
}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    /* min-width: 320px; */
}

header {
    background-color: #122a57;
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;
}

header .list-itens {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .list-itens li {
    padding: 0 20px 0 0;
}

header .list-itens li:last-child {
    padding: 0 0 0 20px;
}

header .menu {
    justify-content: space-between;
}

.apresentacao{
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.apresentacao .texto-apresentacao .texto-apresentacao {
    min-height: 200px;
}

.texto-apresentacao h1{
    color: #122a57;
    font-size: 48px;
    margin-bottom: 10px;
}

.btn{
    background-color: #122a57;
    color: white;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#quem-somos{
    flex-direction: row-reverse;  
    align-items: center;
    justify-content: space-between;     
}

#quem-somos h2{
    font-size: 32px;
    display: flex;
    color: #122a57;
}

#quem-somos h2::before{
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #122a57;
    position: relative;
}

#quem-somos p{
    margin-bottom: 10px;
    width: 90%;
}

#quem-somos img{
    min-width: 420px;
}

.container-externo{
    background-color: #122a57;
    width: 100%;
}

#servicos{
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}

#servicos h2{
    color: white;
    font-size: 32px;
    padding-bottom: 20px;
}

.list-servicos{
    display: flex;
    justify-content: space-between;
}

.list-servicos .item-servico{
    text-align: center;
}

.item-servico a{
    width: 120px;
    background-color: white;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
    line-height: 50px;
    padding: 5px 10px;
    color: #122a57;
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
}

.item-servico p{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-top: 20px;
}

.item-servico img{
    width: 80%;
    margin: auto;
}

#planos{
    flex-direction: column;
    min-height: 100px;
    padding-top: 50px;
}

#planos h2{
    font-size: 32px;
}

.list-planos{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 200px;
}

.item-plano{
    flex: 1;
    border: 2px solid #122a57;
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;
}

.item-plano .btn{
    margin: auto;
    margin-bottom: 20px;

}

.item-plano h3{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.item-plano h3::after{
    content: "";
    background-color: #122a57;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.item-plano ul{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-plano ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.item-plano ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #122a57;
    margin-right: 5px;
}

footer{
    background-color: #122a57;
    height: 70px;
    display: flex;
    align-items: center;
}

footer .footer{
    justify-content: space-between;
    color: white;
}

@media(max-width: 992px) {
    img {
        min-width: auto !important;
    }

    .flex-container {
        flex-direction: column;
    }

    header .menu {
        align-items: center;
    }

    header {
        height: auto;
    }

    header ul {
        flex-direction: column;
        margin-top: 15px;
        width: 100%;
        align-items: initial !important;
    }
    
    header .list-itens li {
        max-width: none;    
        border-top: 1px solid #FFF;
        text-align: center;
        padding: 5px !important;
    }

   .apresentacao {
        height: auto;
        text-align: center;
    }

    .apresentacao img {
        max-width: 500px;
    }

    #quem-somos {
        flex-direction: column;
        text-align: center;
    }

    #quem-somos h2 {
        width: 100%;
        justify-content: center;
    }

    #quem-somos h2::before {
        display: none;
    }

    #quem-somos p {
        text-align: center;
        padding: 0 30px;
    }

    #quem-somos img {
        max-width: 500px;
        margin: auto;
    }

    .list-servicos {
        flex-direction: column;
    }

    .list-servicos .item-servico:not(:nth-child(3)) {
        margin-bottom: 50px;
    }

    #servicos h2 {
        text-align: center;
        width: 100%;
    }

    .item-servico a {
        font-size: 22px;
    }
   
    .item-servico p {
        font-size: 22px;
    }

    .item-servico img {
        max-width: 200px;
        margin: auto;
        width: auto;
    }

    #planos h2 {
        text-align: center;
        width: 100%;
    }

    .list-planos {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        justify-content: center;
    }

    .list-planos .item-plano {
        margin-bottom: 20px;
    }
}